<h1 class="center-align">Tech University</h1>
<h4>Tech University is a for everyone who is eager to learn. Tuition is FREE!! Please join us to broaden your horizon! </h4>
<div class="about-pic-wrapper">
    <img src="/college.jpeg" class="center-align about-pic">
</div>